    @font-face{
        font-family:"HarmoniaSans W01 Light";
        src:url("Fonts/0d3ddd7f-1365-4614-b4cd-3109f95fba46.eot?#iefix");
        src:url("Fonts/0d3ddd7f-1365-4614-b4cd-3109f95fba46.eot?#iefix") format("eot"),url("Fonts/cedea5d5-db27-4dc9-8d34-c20cce3ce9c2.woff2") format("woff2"),url("Fonts/b8b58a75-9a85-4560-a2f2-bfb3f2f2fc98.woff") format("woff"),url("Fonts/ba31de29-149c-4049-947e-9c3f1ecaa8d2.ttf") format("truetype"),url("Fonts/2b103519-dc70-43c5-84eb-95348ed9f55a.svg#2b103519-dc70-43c5-84eb-95348ed9f55a") format("svg");
    }
    @font-face{
        font-family:"HarmoniaSans W01";
        src:url("Fonts/a5b66773-6a36-469a-8f45-e08448130bf2.eot?#iefix");
        src:url("Fonts/a5b66773-6a36-469a-8f45-e08448130bf2.eot?#iefix") format("eot"),url("Fonts/3ba56aa2-c01d-4bfc-aae4-eac13ee2ebbc.woff2") format("woff2"),url("Fonts/51f1c13a-2c9b-4cba-9cbf-93317cbd3e10.woff") format("woff"),url("Fonts/7b11ae47-5126-4c06-8f61-fbee4b6a8461.ttf") format("truetype"),url("Fonts/d6936923-56f5-4284-bb73-3230f8a49594.svg#d6936923-56f5-4284-bb73-3230f8a49594") format("svg");
    }
    @font-face{
        font-family:"HarmoniaSans W01 SemiBd";
        src:url("Fonts/cd8a7ca1-a1a1-4902-9824-18890229b553.eot?#iefix");
        src:url("Fonts/cd8a7ca1-a1a1-4902-9824-18890229b553.eot?#iefix") format("eot"),url("Fonts/08591efc-f43b-4dc0-b066-e39bb77fd0d9.woff2") format("woff2"),url("Fonts/bb2822e9-2055-4c95-bd66-438a33d71a60.woff") format("woff"),url("Fonts/1796e78c-3f90-4d62-a510-d2f1ebc88d86.ttf") format("truetype"),url("Fonts/db703c36-bf80-4647-8190-abc666705582.svg#db703c36-bf80-4647-8190-abc666705582") format("svg");
    }
    @font-face{
        font-family:"HarmoniaSansW01-SemiBdI";
        src:url("Fonts/922fefb6-cf43-454a-812d-524362ae522f.eot?#iefix");
        src:url("Fonts/922fefb6-cf43-454a-812d-524362ae522f.eot?#iefix") format("eot"),url("Fonts/26998c9c-98b7-46e1-a2f9-391cb0bcc27c.woff2") format("woff2"),url("Fonts/b28a746b-254c-4d88-ac9d-aa7c5cdcebae.woff") format("woff"),url("Fonts/bbc4c213-7a42-4e35-b2fa-869ca186e5a6.ttf") format("truetype"),url("Fonts/43780f0f-8e88-49dc-a7c4-9ce01aa44cd4.svg#43780f0f-8e88-49dc-a7c4-9ce01aa44cd4") format("svg");
    }
    @font-face{
        font-family:"HarmoniaSans W01 Bold";
        src:url("Fonts/afb7b057-b4c8-4f37-9611-323efb16599e.eot?#iefix");
        src:url("Fonts/afb7b057-b4c8-4f37-9611-323efb16599e.eot?#iefix") format("eot"),url("Fonts/d13c38b0-30e7-47f0-bc36-e2b7752b59e3.woff2") format("woff2"),url("Fonts/50cd1762-b122-47c3-bce4-8e385f6a6db0.woff") format("woff"),url("Fonts/2becde0a-efb7-469b-a992-fcebff7f02bb.ttf") format("truetype"),url("Fonts/ffa1b212-f1e5-4934-89b5-20243a9f94af.svg#ffa1b212-f1e5-4934-89b5-20243a9f94af") format("svg");
    }
